MQTT_PORT=1883
MQTT_DEVICE_USER=dji-demo
MQTT_DEVICE_PASSWORD=replace-with-random-device-password
MQTT_PLATFORM_USER=aerosight-worker
MQTT_PLATFORM_PASSWORD=replace-with-random-platform-password

MEDIA_RTMP_PORT=1935
MEDIA_HLS_PORT=8888
MEDIA_WEBRTC_PORT=8889
MEDIA_API_PORT=9997
MEDIA_WEBRTC_UDP_PORT=8189
MEDIA_WEBRTC_ADDITIONAL_HOSTS=127.0.0.1
MEDIA_PUBLISH_USER=dji-publisher
MEDIA_PUBLISH_PASSWORD=replace-with-random-publish-password
MEDIA_READ_USER=aerosight-viewer
MEDIA_READ_PASSWORD=replace-with-random-read-password
MEDIA_ADMIN_USER=aerosight-media-admin
MEDIA_ADMIN_PASSWORD=replace-with-random-admin-password
